---
import config from '@config'
import loadIcon from '@utils/loadIcon'

const { author } = config
const { socialLinks, license } = config.footer
const year = new Date().getFullYear()
---

<footer class="text flex-1 transition-colors-300">
  <div class="mxa max-w-4xl flex flex-row flex-wrap justify-between gap-4 px-5 pt-10">
    <div>
      <p>&copy; {year} | {author}</p>
    </div>
    <nav class="social-links block">
      <p class="mb-2"><strong>Social</strong></p>
      <ul class="subtext0 transition-colors-300">
        {
          socialLinks.map(item => (
            <svg
              class="h-2em w-2em"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              set:html={item.icon && loadIcon(item.icon)}
            ></svg>
            <li>
              <a href={item.url} target="_blank">
                <p>{item.name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <a class="license" href={license.url} target="_blank">
      <p>{license.text}</p>
    </a>
  </div>
</footer>

<style>
  footer {
    background-color: var(--mantle);
  }
</style>
