---
import { ViewTransitions } from 'astro:transitions'
import { version } from '@@/package.json'
import '@styles/global.css'

interface Props {
  title: string
  description: string
  canonicalURL?: string
  image?: string
}

const { title, description, canonicalURL = new URL(Astro.url.pathname, Astro.site), image = '' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="version" content={`@emillc/eden v${version}`} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/TsangerJinKai03-W04.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Twitter -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Rss auto discover -->
<link rel="alternate" type="application/rss+xml" title={title} href={new URL('rss.xml', Astro.site)} />

<!-- Transition -->
<ViewTransitions />

<script is:inline>
function _isDark() {
  const currentDark = localStorage.getItem('dark')
  if (currentDark)
    return currentDark === 'true'
  return window.matchMedia('(prefers-color-scheme: dark)').matches
}

let isDark = _isDark()

document.documentElement.classList.toggle('dark', isDark)

function toggleTheme() {
  isDark = !isDark
  localStorage.setItem('dark', isDark.toString())
  document.documentElement.classList.toggle('dark', isDark)
}

window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
  isDark = e.matches
  localStorage.setItem('dark', isDark.toString())
  document.documentElement.classList.toggle('dark', isDark)
})

window.addEventListener('load', () => {
  document.querySelector('.theme-toggle')?.addEventListener('click', toggleTheme)
})
</script>

<!-- Slot -->
<slot />
