---
import { version } from '@@/package.json'
import { ViewTransitions } from 'astro:transitions'
import '@/styles/global.css'

interface Props {
  title: string
  description: string
  canonicalURL?: string
  image?: string
}

const {
  title,
  description,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).toString(),
  image = '',
} = Astro.props

const ThrottlingMode = true
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="version" content={`@emillc/eden v${version}`} />

<!-- Font preloads -->

{
  !(ThrottlingMode) && (
    <link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhCq3-cXbKDO1w.woff2" as="font" type="font/woff2" crossorigin />
  )
}

<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhGq3-cXbKDO1w.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhPq3-cXbKDO1w.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhHq3-cXbKDO1w.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhIq3-cXbKDO1w.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhEq3-cXbKDO1w.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhFq3-cXbKDO1w.woff2" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2" as="font" type="font/woff" crossorigin />

<link rel="preload" href="/fonts/Livvic-Italic.otf" as="font" type="font/otf" crossorigin />
<link rel="preload" href="/fonts/Livvic-Regular.otf" as="font" type="font/otf" crossorigin />
<link rel="preload" href="/fonts/Merriweather-Light.otf" as="font" type="font/otf" crossorigin />
<link rel="preload" href="/fonts/Merriweather-LightItalic.otf" as="font" type="font/otf" crossorigin />

<link rel="preload" href="/fonts/LXGWWenKaiMono-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/TsangerJinKai03-W03.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Twitter -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Rss auto discover -->
<link rel="alternate" type="application/rss+xml" title={title} href={new URL('rss.xml', Astro.site)} />

<!-- Theme Toggle -->
<script is:inline>
function _isDark() {
  const currentDark = localStorage.getItem('dark')
  if (currentDark)
    return currentDark === 'true'
  return window.matchMedia('(prefers-color-scheme: dark)').matches
}

let isDark = _isDark()

const _setTheme = () => document.documentElement.classList.toggle('dark', isDark)

_setTheme()

function setTheme() {
  _setTheme()
  localStorage.setItem('dark', isDark.toString())
}

function toggleTheme() {
  isDark = !isDark
  setTheme()
}

window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
  isDark = e.matches
  setTheme()
})

window.addEventListener('load', () => {
  const listener = () => document.querySelector('.theme-toggle')?.addEventListener('click', toggleTheme)

  listener()

  document.addEventListener('astro:after-swap', () => {
    _setTheme()
    listener()
  })
})
</script>

<!-- Transition -->
<ViewTransitions />

<!-- Slot -->
<slot />
