---
// used for `/posts/:slug`
import type { CollectionEntry } from 'astro:content'
import Layout from './Base.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const { title, author, description, pubDate, updDate, tags, draft, ogImage, canonicalURL } = post.data
---

<Layout {title} {description}>
  <div>
    Author: {author}
    Published: {pubDate}
    {updDate && <div>{updDate}</div>}
    {tags && <div>{tags}</div>}
    {draft && <div>{draft}</div>}
    {ogImage && <div>{ogImage}</div>}
    {canonicalURL && <div>{canonicalURL}</div>}
  </div>
  <article>
    <slot />
  </article>
  <a href="/posts">Return to posts list</a>
</Layout>
