---
import type { CollectionEntry } from 'astro:content'
import Layout from './Common.astro'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const {
  title,
  author,
  description,
  pub,
  upd,
  tags,
  draft,
  ogImage,
  canonicalURL,
} = post.data

// const headProps = {
//   title,
//   description,
//   canonicalURL,
// }
---

<Layout title={title} description={description}>
  <article>
    <div>{author}</div>
    <div>{pub}</div>
    <slot />
    {
      upd && (
        <div>{upd}</div>
      )
    }
    {
      tags && (
        <div>{tags}</div>
      )
    }
    {
      draft && (
        <div>{draft}</div>
      )
    }
    {
      ogImage && (
        <div>{ogImage}</div>
      )
    }
    {
      canonicalURL && (
        <div>{canonicalURL}</div>
      )
    }
  </article>
</Layout>
